/*
Reginald
for Funconf, 1 March 2011
*/

/* destroy */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td { margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline; }
:focus { outline:0; }
body { line-height:1;color:black;background:white; }
ol,ul { list-style:none; }
table { border-collapse:separate;border-spacing:0; }
caption,th,td { text-align:left;font-weight:normal; }
blockquote:before,blockquote:after,
q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }

/* rebuild */
body { font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:100%;color:rgb(250,226,194);background:rgb(234,81,0) url('/images/bg.png') repeat; }
a:link,a:visited { color:rgb(250,226,194);text-decoration:none;font-weight:bold; }
#medallion { width:270px;height:270px;margin:180px auto 0;background:transparent url('/images/medallion.png') top left no-repeat; }
#header h1 { width:262px;height:39px;margin:32px auto 0;text-indent:-9999px;overflow:hidden;background:transparent url('/images/h1.png') top left no-repeat; }
.more-info { margin:8px auto 0;width:512px; }
.more-info li { font-family:Georgia,serif;font-size:12px;text-transform:uppercase;letter-spacing:3px;color:#fff;text-shadow:1px 1px 0 #b32103;width:224px;padding:24px 0 0;float:left; }
.more-info li a,.more-info li a:visited { font-weight:normal;color:#fff;text-shadow:1px 1px 0 #b32103; }
.more-info .year { padding:0;width:64px;height:64px;text-indent:-9999px;overflow:hidden;background:transparent url('/images/two-eleven.png') center center no-repeat; }
.more-info .link { text-align:left; }
.more-info .date { text-align:right; }
.more-info .date span { text-transform:none;letter-spacing:0; }